<div xmlns:th="http://www.thymeleaf.org" lang="en">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home"><img src="../PMBFondNoir.PNG" title="Home" width="150" height="45"/></a>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home/transfer" title="Pay your buddies">Transfer</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home/connexion" title="Add your buddies">Connexion</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home/account" title="Add or remove money">PMB Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home/bankAccount" title="Add a bank account">Bank Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Log off</a></li>
                </ul>
            </div>
        </div>
    </nav>

</div>