<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		  crossorigin="anonymous">

	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		  integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
		  crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="./payMyBuddy.css">

	<title>Pay My Buddy</title>


</head>
<body>

<th:block th:include="/_navigation"></th:block>


<div class="container special">

	<h3 th:if="${welcome != null}" th:utext="${welcome}"></h3>
	<h3 th:if="${balance != null}" th:utext="${balance}"></h3>

	<h3>&nbsp;</h3>
	<p>To transfer money to your buddies</p>
	<a class="btn btn-primary" href="/home/transfer" role="button" title="Pay your buddies">Transfer money</a>

	<p>&nbsp;</p>
	<p>To add your buddies</p>
	<a class="btn btn-primary" href="/home/connexion" role="button" title="Add your buddies">Add connexion</a>

	<p>&nbsp;</p>
	<p>To add or remove money from your "Pay My Buddy" account</p>
	<a class="btn btn-primary" href="/home/account" role="button" title="Add or remove money">Manage your account</a>

	<p>&nbsp;</p>
	<p>To add a bank account</p>
	<a class="btn btn-primary" href="/home/rib" role="button" title="Add a RIB">Add a bank account</a>


</div>

<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>