<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		  crossorigin="anonymous">

	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		  integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
		  crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../payMyBuddy.css">

	<title>Pay My Buddy</title>


</head>
<body>
	<!-- Include _navigation.html -->
	<th:block th:include="/_navigation"></th:block>


	<div class="container special">
		<div class="container special">
			<div class="col-md-6"><h3>New bank account ? Add a RIB</h3></div>
			<div class="col-md-6"><h3></h3></div>
			<p></p>
			<h3 th:if="${message != null}" th:utext="${message}" style="color: red;"></h3>
			<p></p>
		</div>
		<div class="container special">
			<form method="post"
				  th:action="@{/home/rib}" th:object="${ribDTO}">
				<div class="col-md-3">
					<label for="ribName">RIB Name </label>
					<input type="text" th:field="*{ribName}" class="form-control" id="ribName">
					<div style="color: red;" th:if="${#fields.hasErrors('ribName')}" th:errors="*{ribName}">
						rib name Error
					</div>
				</div>
				<div class="col-md-3">
					<label for="ribName">Account Owner</label>
					<input type="text" th:field="*{accountOwner}" class="form-control" id="accountOwner">
					<div style="color: red;" th:if="${#fields.hasErrors('accountOwner')}" th:errors="*{accountOwner}">
						rib name Error
					</div>
				</div>
				<div class="col-md-6">
					<p>.</p>
					<p>.</p>
					<p>.</p>
				</div>
				<div class="form-group">
					<div class="col-md-2">
						<label for="countryCode">IBAN</label>
						<input
								type="text" th:field="*{countryCode}" class="form-control" id="countryCode">
						<div style="color: red;" th:if="${#fields.hasErrors('countryCode')}" th:errors="*{countryCode}">
							IBAN error
						</div>
					</div>
					<div class="col-md-2">
						<label for="bankCode">.</label>
						<input
								type="text" th:field="*{bankCode}" class="form-control" id="bankCode">
						<div style="color: red;" th:if="${#fields.hasErrors('bankCode')}" th:errors="*{bankCode}">
							IBAN error
						</div>
					</div>
					<div class="col-md-2">
						<label for="branchCode">.</label>
						<input
								type="text" th:field="*{branchCode}" class="form-control" id="branchCode">
						<div style="color: red;" th:if="${#fields.hasErrors('branchCode')}" th:errors="*{branchCode}">
							IBAN error
						</div>
					</div>
					<div class="col-md-3">
						<label for="accountCode">.</label>
						<input
								type="text" th:field="*{accountCode}" class="form-control" id="accountCode">
						<div style="color: red;" th:if="${#fields.hasErrors('accountCode')}" th:errors="*{accountCode}">
							IBAN error
						</div>
					</div>
					<div class="col-md-1">
						<label for="key">.</label>
						<input
								type="text" th:field="*{key}" class="form-control" id="key">
						<div style="color: red;" th:if="${#fields.hasErrors('key')}" th:errors="*{key}">
							IBAN error
						</div>
					</div>
					<div class="col-md-2">
						<label for="BIC">BIC</label>
						<input
								type="text" th:field="*{bic}" class="form-control" id="BIC">
						<div style="color: red;" th:if="${#fields.hasErrors('bic')}" th:errors="*{bic}">
							BIC error
						</div>
					</div>
					<div class="col-md-10">
					</div>
					<div class="col-md-2">
						<label for="button"></label>
						<button type="submit" class="btn btn-success btn-sm btn-block" id="button">Create</button>
					</div>
				</div>

			</form>
		</div>
		<div class="container special">
			<p></p>
			<h3 class="col-md-12">Your ribs</h3>
			<div class="col-md-12">
				<div class="table-responsive border border-dark">
					<table class="table table-striped table-sm">
						<thead class="text-white bg-success">
						<tr>
							<th>rib name</th>
							<th>IBAN</th>
						</tr>
						</thead>
						<tbody>
						<tr th:if="${#lists.isEmpty(ribs)}">
							<td colspan="3">No rib registered</td>
						</tr>
						<tr th:each="rib: ${ribs}">
							<td><span th:text="${rib.ribName}"> rib </span></td>
							<td><span th:text="${rib.iban}"> IBAN </span></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>