<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		  crossorigin="anonymous">

	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		  integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
		  crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="../payMyBuddy.css">

	<title>Pay My Buddy</title>


</head>
<body>
<!-- Include _navigation.html -->
<th:block th:include="/_navigation"></th:block>


<div class="container special">

	<div class="container special">
		<div class="col-md-4"><h3>Send Money</h3></div>
		<div class="col-md-6"></div>
		<div class="col-md-2">
			<label for="button1" class="visually-hidden">New beneficiary ?</label>
			<a class="btn btn-primary btn-sm w-100" href="/home/connexion" role="button" id="button1">Add a connexion</a>
		</div>
	</div>
	<p> </p>
	<div class="container special">
		<div class="col-md-12">
			<h4 th:if="${message != null}" th:utext="${message}" style="color: red;">&nbsp;</h4>
		</div>
		<form method="post"
			  th:action="@{/home/transfer}" th:object="${transfer}">

			<div class="col-md-3">
				<label for="connexion">Beneficiary</label>
				<select class="form-select" th:field="*{connexionId}" id="connexion" required >
					<option selected="selected" value="0">Select a connexion</option>
					<option th:each="connexion: ${connexions}"
							th:value="${connexion.connexionId}"
							th:text="${connexion.connexionName}"></option>
				</select>
				<div style="color: red;" th:if="${#fields.hasErrors('connexionId')}" th:errors="*{connexionId}">
					Connexion Error
				</div>
			</div>
			<div class="col-md-4">
				<label for="descriptionInput">Description</label>
				<input type="text" th:field="*{description}" class="form-control" id="descriptionInput"
					   placeholder="Description">
				<div style="color: red;" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
					Description Error
				</div>
			</div>
			<div class="col-md-3">
				<label for="amount">Amount</label>
				<span class="input-symbol-euro">
						<input type="number" th:field="*{amount}" step="0.01" value="0.00" min="0" id="amount">
					  </span>
				<div style="color: red;" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">
					Amount Error
				</div>
			</div>
			<div class="col-md-2">
				<label for="button"> </label>
				<button type="submit" class="btn btn-success btn-sm btn-block" id="button">Pay</button>
			</div>

		</form>

	</div>
	<div class="container special">
		<h3 class="col-md-12">My Transactions</h3>
		<div class="col-md-12">
			<div class="table-responsive border border-dark">
				<table class="table table-striped table-sm">
					<thead class="text-white bg-success">
					<tr>
						<th>Connexions</th>
						<th>Descriptions</th>
						<th>Amount</th>
					</tr>
					</thead>
					<tbody>
					<tr th:if="${#lists.isEmpty(transactions)}">
						<td colspan="3">No transaction registered</td>
					</tr>
					<tr th:each="transaction: ${transactions}">
						<td><span th:text="${transaction.connexion.connexionName}"> Connexion </span></td>
						<td><span th:text="${transaction.description}"> Description </span></td>
						<td><span th:text="${transaction.amount}"> Amount </span>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


</div>

<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>